.headeContainer {
	@extend .flex;
	width: 100% !important;
	max-width: 100% !important;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	top: 0;

}
#menu-header-menu {
	list-style: none;
	@extend .flex;
	justify-content: space-between;
}
.primaryMenu {
	width: 80%;
	background: white;
	padding-right: 5%;
	padding-top: 20px;
	height: fit-content;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.logo {
	padding-left: 5%;
	 padding-top: 40px;
	 max-width: 190px;
}
.smaller {
	background: white;
	border-bottom: 1px solid black;
	transition: all 0.2s ease-out 0s;

	.logo {
		padding-top: 20px;
		width: 9%;
		min-width: 120px;
		max-width: 160px;
		padding-bottom: 5px;
		transition: all 1.9s ease-out 0s;
	}
	.primaryMenu {
		border: none;
	}
}