@font-face {
  font-family: 'GoodSans-Regular';
  src: url('fonts/GoodSans-Regular.woff');
  font-weight: normal;
      font-style: normal; 
}

@font-face {
  font-family: 'GoodSans-BoldItalic';
  src: url('fonts/GoodSans-BoldItalic.woff');
  font-weight: normal;
      font-style: normal; 
}
@font-face {
  font-family: 'GoodSans-Bold';
  src: url('fonts/GoodSans-Bold.woff');
  font-weight: normal;
      font-style: normal; 
}

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}


body {
   font-family: 'GoodSans-Regular', sans-serif;
   @include fontSize(10);
}
.current-menu-item, .current_page_item {
  font-family: 'GoodSans-Bold', sans-serif;
}
b {
  font-family: 'GoodSans-Bold', sans-serif;
}
i {
  font-family: 'GoodSans-BoldItalic', sans-serif;
}
h1, h2, h3, h4, h5, h6,p {
  margin-top: 0;
}

.eventTypeLink {
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
  right: 15px;
  top: 10px;
   pointer-events: none;
   z-index: 1;
}